# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Environment
.env

# Runtime logs
*.log

# Raw downloaded cache
data/raw/downloaded/
data/raw/*.zip

# Database
*.sqlite
*.db

# Build
dist/
build/